h1{
	color:#ce77ee;
	text-align: center;
}
p{
	color:#ee778b;
	text-align: center;
}
h2{
	color:#ce77ee;
	text-align: center;
}

div{
	text-align:right;
}
diiv{
	text-align:center;
}
h3{
text-align:center;
}
